<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Юлия Кузьминых</div>
        <span class="disciplines-mini"><strong>серфинг</strong> / <strong>кайт-серфинг</strong> <strong
                style="color:#3399FF; cursor:pointer;"><a href="" title="редактировать"><span
                class="pull-right hidden-xs showopacity fa fa-pencil"></span></a></strong></span>
        <img src="/images/yulya.jpg">
        <div class="list-group list-group-flush">
            <ul class="nav navbar-nav">
                <li class="active"><a class="list-group-item list-group-item-action bg-light" href="#">список школ<span
                        style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-list"></span></a></li>
                <li class="active"><a class="list-group-item list-group-item-action bg-light" href="#">школы на
                    карте<span style="font-size:16px;"
                               class="pull-right hidden-xs showopacity fa fa-compass"></span></a></li>
                <li class="dropdown">
                    <a title="чаты" href="#" class="list-group-item list-group-item-action bg-light dropdown-toggle"
                       data-toggle="dropdown">сообщения <span
                            style="background-color:#3399FF; display:inline-block; width:16px; height:16px; border-radius:10px; color:#ffffff; text-align: center; font-size:11px;">5</span><span
                            class="caret"></span><span style="font-size:16px;"
                                                       class="pull-right hidden-xs showopacity fa fa-user"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a class="list-group-item list-group-item-action bg-light" href="#">к списку чатов</a></li>
                        <li><a class="list-group-item list-group-item-action bg-light" href="#">школа WindySun</a></li>
                        <li><a class="list-group-item list-group-item-action bg-light" href="#">школа KiteMonkey <span
                                class="message-notif">2</span></a></li>
                        <li class="divider"></li>
                        <li><a class="list-group-item list-group-item-action bg-light" href="#">Петя (ученик) <span
                                class="message-notif">3</span></a></li>
                        <li class="divider"></li>
                        <li><a class="list-group-item list-group-item-action bg-light" href="#">Игорь (ученик)</a></li>
                    </ul>
                </li>
                <li><a title="редактировать список дисциплин" class="list-group-item list-group-item-action bg-light"
                       href="#">дисциплины<span style="font-size:16px;"
                                                class="pull-right hidden-xs showopacity fa fa fa-user"></span></a></li>
                <li><a title="редактировать информацию о стаже" class="list-group-item list-group-item-action bg-light"
                       href="#">стаж<span style="font-size:16px;"
                                          class="pull-right hidden-xs showopacity fa fa-user"></span></a></li>
                <li class="nav-item">
                    <a class="list-group-item list-group-item-action bg-light menu-toggle" href="#"> < скрыть панель
                        действий </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary menu-toggle" id="menu-toggle"> > действия</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">просмотр мест обучения <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">на главную</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            профиль
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">выйти</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">редактировать информацию профиля</a>
                            <a class="dropdown-item" href="#">сменить пароль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">зарегистрироваться как тренер</a>
                            <a class="dropdown-item" href="#">зарегистрироваться как школа</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <span id="disciplines-widjet">
                <h2>страница Дисциплины</h2>
                <p class="disciplines-list" style="color:#cccccc;">
                     <span class="disciplines-list-7"><strong>винд-серфинг</strong> <span style="font-size:16px;"
                                                                                          id="disciplines-list-7"
                                                                                          class="pull-right hidden-xs showopacity fa fa fa-trash table-click-item disciplines-list-7"></span> / </span>
                    <span class="disciplines-list-5"><strong>кайт-серфинг</strong> <span style="font-size:16px;"
                                                                                         id="disciplines-list-5"
                                                                                         class="pull-right hidden-xs showopacity fa fa fa-trash table-click-item disciplines-list-5"></span> / </span>
                    <strong class="showmore"> + </strong></p>


                <div class="checkbox-biglist hide">
                    <label id="disciplines-biglist-1"><input type="checkbox"
                                                             alt="парапланеризм"/><span> парапланеризм</span></label>
                    <label id="disciplines-biglist-8"><input type="checkbox"
                                                             alt="серфинг"/><span> серфинг</span></label>
                    <label id="disciplines-biglist-3"><input type="checkbox"
                                                             alt="горные лыжи"/><span> горные лыжи</span></label>
                    <label id="disciplines-biglist-4"><input type="checkbox"
                                                             alt="дайвинг"/><span> дайвинг</span></label>
                    <label id="disciplines-biglist-5"><input checked type="checkbox" alt="кайт-серфинг"/><span> кайт-серфинг</span></label>
                    <label id="disciplines-biglist-7"><input checked type="checkbox" alt="винд-серфинг"/><span> винд-серфинг</span></label>
                </div>
            </span>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<div class="navbar navbar-default navbar-fixed-bottom" style="background-color:#000000;">
    <div class="container">
        <p class="navbar-text pull-left">© 2019 - Копирайт
            <a href="http://tinyurl.com/tbvalid" target="_blank">пользовательское соглашение</a>
        </p>
        <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
            <span class="fa fa-star"></span> очень важная кнопка</a>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/widjets.js"></script>
<!-- Menu Toggle Script -->
<script>
    $(".menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>