<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="edit-manager-info">
        <h2>Профиль</h2>
        <label>Контактная информация</label>
        <div class="checkbox-biglist">
            <textarea id="contactinfo-manager-edit" rows="10" cols="45" name="text"></textarea>
        </div>
        <label>Время для связи</label>
        <div class="checkbox-biglist">
            <textarea id="contacttime-manager-edit" rows="10" cols="45" name="text"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="checkbox-biglist">
                <label><input id="contacttimestart-manager-edit" type="time" class="form-control" placeholder="32" aria-label="birthday" aria-describedby="basic-addon1"> время для связи по контактному телефону - от</label>
            </div>
            <div class="checkbox-biglist">
                <label><input id="contacttimefinish-manager-edit" type="time" class="form-control" placeholder="32" aria-label="birthday" aria-describedby="basic-addon1"> время для связи по контактному телефону - до</label>
            </div>
        </div>
    </div>
</body>
</html>