<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="edit-manager-info" class="edit-manager-info container-fluid">
        <h2>Профиль</h2>
        <label>Контактная информация</label>
        <div class="checkbox-biglist">
            <textarea id="contactinfo-manager-edit" rows="5" cols="45" name="text" style="width:100%;"></textarea>
        </div>
        <label>Время для связи</label>
        <div class="checkbox-biglist">
            <textarea id="contacttime-manager-edit" rows="5" cols="45" name="text" style="width:100%;"></textarea>
        </div>
    </div>
</body>
</html>