<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- /#wrapper -->
<div th:fragment="footer" class="navbar navbar-default navbar-fixed-bottom" style="background-color:#000000;">
    <div class="container">
        <p class="navbar-text pull-left">© 2019 - Копирайт
            <a href="http://tinyurl.com/tbvalid" target="_blank" >пользовательское соглашение</a>
        </p>
        <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
            <span class="fa fa-star"></span> очень важная кнопка</a>
    </div>
</div>
</body>
</html>