<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <span class="schoolname-logo-container"><img class="schoolname-logo" src="/images/republic-logo.png"></span>
        <div class="sidebar-heading"> Вероника Сиваева <span class="schoolname">Kitesurf Republic</span></div>
        <span class="disciplines-mini"><strong>серфинг</strong> / <strong>кайт-серфинг</strong> <strong style="color:#3399FF; cursor:pointer;"><a href="" title="редактировать"><span class="pull-right hidden-xs showopacity fa fa-pencil"></span></a></strong></span>
        <img src="/images/veronica.jpg">
        <div class="list-group list-group-flush">
            <ul th:insert="~{functionalmenu :: functionalmenu}"></ul>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:insert="~{topmenu :: topmenu}"></nav>

        <div class="container-fluid">

            <div th:insert="~{students-list :: students-list}"></div>

            <div th:insert="~{trainers-list :: trainers-list}"></div>

            <h2>страница Дисциплины</h2>
            <p class="disciplines" style="color:#cccccc;"><strong>серфинг</strong> <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-trash table-click-item"></span> / <strong>серфинг</strong> <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-trash table-click-item"></span> / <strong>кайт-серфинг</strong> <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-trash table-click-item"></span> / <strong style="color:#3399FF; cursor:pointer;"> + </strong></p>
            если добавляем:
            <div class="checkbox-biglist">
                <label><input  type="checkbox"/> парапланеризм</label> <label><input checked type="checkbox"/> серфинг</label> <label><input type="checkbox"/> горные лыжи</label> <label><input type="checkbox"/> дайвинг</label> <label><input checked type="checkbox"/> кайт-серфинг</label> <label><input  type="checkbox"/> парапланеризм</label> <label><input checked type="checkbox"/> серфинг</label> <label><input type="checkbox"/> горные лыжи</label> <label><input type="checkbox"/> дайвинг</label> <label><input checked type="checkbox"/> кайт-серфинг</label>
            </div>
            <h1 class="mt-4">страница Школы на карте</h1>
            <div class="interactive-map container input-block-level">
                это интерактивная карта
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<div th:insert="~{footer :: footer}"></div>

<span th:insert="~{footer-script :: footer-script}"></span>
<!-- Menu Toggle Script -->
<script>
    $(".menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>