<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="schools-list" class="container-fluid">
        <h1 class="mt-4">страница Список школ</h1>
        <div class="col-xs-8 col-xs-offset-2 well">
            <table class="table table-scroll table-striped table-hover">
                <thead>
                <tr>
                    <th style="max-width:20px;">#</th>
                    <th class="">название</th>
                    <th class="d-none d-sm-table-cell">дисциплины</th>
                    <th class="d-none d-sm-table-cell">места</th>
                    <th>написать</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>WindySun</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td class=""><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>KytesurfRepublic</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>KiteGuru</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>SeaSnowSkyRiders</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, сноубордб г. лыжи</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>KiteMonkeys</td>
                    <td class="d-none d-sm-table-cell">кайт</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>WindySun</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>KytesurfRepublic</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>KiteGuru</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>SeaSnowSkyRiders</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, сноубордб г. лыжи</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>KiteMonkeys</td>
                    <td class="d-none d-sm-table-cell">кайт</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>WindySun</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>KytesurfRepublic</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>KiteGuru</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>SeaSnowSkyRiders</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, сноубордб г. лыжи</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>KiteMonkeys</td>
                    <td class="d-none d-sm-table-cell">кайт</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span>, <span>Домбай(Россия)</span>, <span>Коче(Венесуэлла)</span></td>
                    <td><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span> <a href=""><img class="school-list-logo" src="/images/kite-piter-logo.png"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>страница Дисциплины</h2>
        <p class="disciplines" style="color:#cccccc;"><strong>серфинг</strong> <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-trash table-click-item"></span> / <strong>серфинг</strong> <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-trash table-click-item"></span> / <strong>кайт-серфинг</strong> <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa fa-trash table-click-item"></span> / <strong style="color:#3399FF; cursor:pointer;"> + </strong></p>
        если добавляем:
        <div class="checkbox-biglist">
            <label><input  type="checkbox"/> парапланеризм</label> <label><input checked type="checkbox"/> серфинг</label> <label><input type="checkbox"/> горные лыжи</label> <label><input type="checkbox"/> дайвинг</label> <label><input checked type="checkbox"/> кайт-серфинг</label> <label><input  type="checkbox"/> парапланеризм</label> <label><input checked type="checkbox"/> серфинг</label> <label><input type="checkbox"/> горные лыжи</label> <label><input type="checkbox"/> дайвинг</label> <label><input checked type="checkbox"/> кайт-серфинг</label>
        </div>
        <h1 class="mt-4">страница Школы на карте</h1>
        <div class="interactive-map container input-block-level">
            это интерактивная карта
        </div>
    </div>
</body>
</html>