<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Юлия Кузьминых </div>
        <span class="disciplines-mini"><strong>серфинг</strong> / <strong>кайт-серфинг</strong> <strong style="color:#3399FF; cursor:pointer;"><a href="" title="редактировать"><span class="pull-right hidden-xs showopacity fa fa-pencil"></span></a></strong></span>
        <img src="/images/yulya.jpg">
        <div class="list-group list-group-flush">
            <ul th:insert="~{functionalmenu :: functionalmenu}"></ul>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:insert="~{topmenu :: topmenu}"></nav>

        <div th:insert="~{schools-list :: schools-list}"></div>

    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<div th:insert="~{footer :: footer}"></div>

<span th:insert="~{footer-script :: footer-script}"></span>
<!-- Menu Toggle Script -->
<script>
    $(".menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>