<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <span th:fragment="trainers-list">
        <h1 class="mt-4">страница Список тренеров</h1>
        <div class="col-xs-8 col-xs-offset-2 well">
            <table class="table table-scroll table-striped table-hover">
                <thead>
                <tr>
                    <th style="max-width:20px;">#</th>
                    <td></td>
                    <th class="">название</th>
                    <th class="d-none d-sm-table-cell">дисциплины</th>
                    <th class="d-none d-sm-table-cell">текущее местоположение</th>
                    <th>написать</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="/images/korn-mini.jpg"></td>
                    <td>Вячеслав Корнеев</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Коче(Венесуэлла)</span></td>
                    <td class=""><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="/images/zoon-mini.jpg"></td>
                    <td>Юрий Зун</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span></td>
                    <td><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="../images/korn-mini.jpg"></td>
                    <td>Вячеслав Корнеев</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Коче(Венесуэлла)</span></td>
                    <td class=""><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="/images/zoon-mini.jpg"></td>
                    <td>Юрий Зун</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span></td>
                    <td><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><img src="/images/korn-mini.jpg"></td>
                    <td>Вячеслав Корнеев</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Коче(Венесуэлла)</span></td>
                    <td class=""><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><img src="/images/zoon-mini.jpg"></td>
                    <td>Юрий Зун</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span></td>
                    <td><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><img src="/images/korn-mini.jpg"></td>
                    <td>Вячеслав Корнеев</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Коче(Венесуэлла)</span></td>
                    <td class=""><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><img src="/images/zoon-mini.jpg"></td>
                    <td>Юрий Зун</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span></td>
                    <td><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><img src="/images/korn-mini.jpg"></td>
                    <td>Вячеслав Корнеев</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Коче(Венесуэлла)</span></td>
                    <td class=""><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><img src="/images/zoon-mini.jpg"></td>
                    <td>Юрий Зун</td>
                    <td class="d-none d-sm-table-cell">серф, кайт, виндсерф</td>
                    <td class="d-none d-sm-table-cell table-places-list"><span>Хургада(Египет)</span></td>
                    <td><a href=""><span style="font-size:32px;" class="pull-right hidden-xs showopacity fa fa fa-comments table-click-item"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </span>
</body>
</html>